@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}

<!DOCTYPE html>
<html>
<head>
    @*<script src="~/lib/jquery/dist/jquery.js"></script>
    
    

    <script type="text/javascript">
        function moveSection(idStr, xOffset, yOffset) {
            console.log("called");
            var domElemnt = document.getElementById(idStr);
            if (domElemnt) {
                var transformAttr = ' translate(' + xOffset + ',' + yOffset + ')';
                domElemnt.setAttribute('transform', transformAttr);
            }
        }

        function startGame(idStr) {
            var intervalID = setInterval(function () { getCoords(idStr) }, 1000);
        }



 
        function getCoords(idStr) {

            $.ajax({
                type: "POST",
                url: 'OnPost',
                contentType: "application/json; charset=utf-8",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                dataType: "json"
            }).done(function (data) {
                console.log(data);
                moveSection(idStr, data, 1);
            })
        }
    </script>*@
</head>
<body>
    <div class="rect" style="width: 100%;height: 100%;border: 10px solid #000;">

<svg id="ball" width="10%" height="10%">
    <rect width="10%" height="10%" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
</svg>
    </div>
<input id="clickMe" type="button" value="clickme" onclick="startGame('ball');" />

</body>
</html>
