@model PongGame.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Main Page";
}

<h1 class="text-center">PongGame</h1>

@if (User.Identity.IsAuthenticated)
{

    <div class="menu-wrapper">
        <div class="menu-item">Hi, @ViewBag.userName</div>
        <div class="menu-item ">Registration date:  @ViewBag.userRegistrationDate</div>
        <div class="menu-item "> Last visit:@ViewBag.userLastVisit</div>
    </div>

    <form method="post" asp-controller="Account" asp-action="LogOff">
        <button class="btn btn-exit btn-danger btn-primary" type="submit">Sign Out</button>
    </form>
    <div class="myform-group">
        <button class=" btn-mybutton btn btn-success btn-lg btn-block" type="submit">Play!</button>
    </div>
}
else
{
    <div class="login-form">
        <form method="post" asp-controller="Account" asp-action="Login"
              >
            <div asp-validation-summary="ModelOnly"></div>
            <h2 class="text-center">Log In</h2>
            <div class="form-group">
                <input class="form-control" placeholder="Email" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Password" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-primary btn-block">Log In</button>
            </div>
            <div>
                <label class="pull-left checkbox-inline" asp-for="RememberMe"><input type="checkbox"> Remember me</label>
            </div>
        </form>
        <p class="text-center"><a asp-controller="Account" asp-action="Register">Create an Account</a></p>
    </div>
}
